{{ define "add-book" }}
{{ template "layout" }}
    <section id="add-book">
        <form action="/books" method="post" enctype="multipart/form-data">
            <label for="name">Nama Buku:</label>
            <input type="text" id="name" name="name" required>

            <label for="category">Jenis Buku:</label>
            <input type="text" id="category" name="category" required>

            <label for="author">Pengarang:</label>
            <input type="text" id="author" name="author" required>

            <label for="price">Harga:</label>
            <input type="number" id="price" name="price" required>

            <label for="discount">Diskon (%):</label>
            <input type="number" id="discount" name="discount">

            <label for="cover">Foto Cover Buku:</label>
            <input type="file" id="cover" name="cover" accept="image/*" required>

            <label for="file">File Buku (PDF):</label>
            <input type="file" id="file" name="file" accept="application/pdf" required>

            <button type="submit">Simpan Buku</button>
        </form>
    </section>
    {{ template "footer" }}
    {{ end }}
