{{ define "book-list" }}
{{ template "layout" }}
    <section id="book-list">
        <table>
            <thead>
                <tr>
                    <th>Kode Buku</th>
                    <th>Nama Buku</th>
                    <th>Jenis Buku</th>
                    <th>Pengarang</th>
                    <th>Harga</th>
                    <th>Diskon</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Category }}</td>
                    <td>{{ .Author }}</td>
                    <td>Rp.{{ .Price }}</td>
                    <td>{{ .Discount }}%</td>
                    <td><a href="#">Edit</a> | <a href="#">Hapus</a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </section>
  {{ template "footer" }}
  {{ end }}
