{{ define "login" }}
{{ template "layout" }}
    <section class="login">
        <h2>Login Admin</h2>
        <form action="dashboard.html">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </section>
    {{ template "footer" }}
    {{ end }}