{{ define "transaction-list" }}
{{ template "layout" }}
    <section id="order-list">
        <table>
            <thead>
                <tr>
                    <th>Nama Customer</th>
                    <th>Nomor Order</th>
                    <th>Status Order</th>
                    <th>Detail Order</th>
                    <th>Tanggal Order</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .ID }}</td>
                    <td>{{ .Status }}</td>
                    <td><a href="#">Lihat Detail</a></td>
                    <td>{{ .TransactionDate }}</td>
                </tr>
                {{ end }}
                <!-- Data pesanan lainnya -->
            </tbody>
        </table>
    </section>
{{ template "footer" }}
{{ end }}
